.header {
    min-width: 320px;
    max-width: 1920px;
    height: 900px;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.header {
    background-image: url(images/bg.png);
    height: 900px;
    background-repeat: no-repeat;
    background-size: auto;
    width: 1440px;
}

.header_line {
    background-color: #ffffff;
    box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
    height: 68px;
    padding-left: 140px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header_logo {
    position: absolute;
    left: 140px;
    top: 13px;
}

.nav {
    display: flex;
    align-items: center;
    position: absolute;
    width: 1440px;
    height: 20px;
    left: 531px;
    top: 23px;
}

.nav-items {
    color: #1f204180;
    text-decoration: none;
    margin-right: 21.3px;
    font-size: 14px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    text-align: center;
    font-size: 12px;
}

.button {
    width: 68px;
    height: 14px;
    padding: 8px;
    border: 2px solid #bc9cff;
    border-color: linear-gradient(180deg, #bc9cff, #8ba4f9);
    background-color: white;
    color: #bc9cff;
    cursor: pointer;
    text-decoration: none;
    border-radius: 21px;
    font-weight: 700;
}

.button1 {
    margin-left: 20px;
    height: 14px;
    width: 175px;
    background: linear-gradient(180deg, #bc9cff, #8ba4f9);
    color: #ffffff;
    padding: 8px;
    border: 2px solid #bc9cff;
    cursor: pointer;
    text-decoration: none;
    border-radius: 21px;
    font-weight: 700;
}

.back_img {
    position: absolute;
    top: 139px;
    left: 139px;
    width: 380px;
    height: 374px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.2);
}

.find_rooms {
    position: absolute;
    top: 178px;
    left: 170px;
    font-weight: 700;
    font-size: 24px;
    color: #1f2041;
    max-width: 320px;
}

.btn_find_rooms {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(180deg, #bc9cff, #8ba4f9);
    top: 439px;
    left: 169px;
    width: 320px;
    height: 43px;
    position: absolute;

    border-radius: 20px;
}

.button3 {
    background: none;
    color: #ffffff;
    top: 454px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    width: 280px;
    height: 16px;
    font-size: 12px;
    font-weight: 700;
    padding: 7px;
    border: 2px;
}

.left {
    width: 20px;
    height: 20px;
    position: absolute;
    display: inline-flex;
    cursor: pointer;
    margin-left: 64px;
}

.left::before,
.left::after {
    content: "";
    position: absolute;
}

.left::before {
    width: 16px;
    height: 2px;
    background-color: #ffffff;
    top: 7px;
}

.left::after {
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    transform: rotate(135deg);
    top: 3px;
    left: 3px;
}

.left::after {
    width: 9px;
    height: 9px;
}

.gest {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.text_gest {
    position: absolute;
    width: 43px;
    height: 15px;
    left: 170px;
    top: 343px;
    font-size: 12px;
    color: #1f2041;
    font-weight: 700;
}

.btn_gest {
    position: absolute;
    cursor: pointer;
    top: 363px;
    left: 169px;
    width: 320px;
    height: 43px;
    border: 1px solid #1f204140;
    border-radius: 4px;
}
.number {
    position: absolute;
    left: 391px;
    padding: 0;
    width: 92px;
    border: 0;
    display: inline-block;
}
.number-minus,
.number-plus {
    position: absolute;
    top: 344px;
    width: 30px;
    height: 30px;
    display: block;
    background: #ffffff;
    font-size: 18px;
    align-items: center;
    text-align: center;
    line-height: 30px;
    font-family: Montserrat;
    color: rgba(31, 32, 65, 0.5);
    text-decoration: none;
}
.number-minus {
    left: 0;
    border-radius: 50%;
    border-right: 1px solid rgba(31, 32, 65, 0.25);
}
.number-plus {
    right: 0;
    border-radius: 50%;
    border-left: 1px solid rgba(31, 32, 65, 0.25);
}
.number-minus:hover,
.number-plus:hover {
    background: none;
}
.number-minus:active,
.number-plus:active {
    background: none;
}
.number-text {
    display: inline-block;
    font-size: 14px;
    color: #000;
    line-height: 32px;
    height: 32px;
    padding: 0;
    margin: 0 0 0 42px;
    background: #fff;
    outline: none;
    border: none;
    width: 57px;
    text-align: center;
}

.btn_gest1 {
    display: flex;
    color: #1f2041bf;
    left: 15px;
    font-size: 14px;
    position: absolute;
    text-decoration: none;
    top: 13px;
    width: 112px;
    height: 18px;
    align-items: center;
    justify-content: space-around;
}

.img_btn_gest1 {
    width: 44px;
    height: 44px;
    left: 275.74px;
    size: 24px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.arrive {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.text_arrive {
    position: absolute;
    width: 83px;
    height: 15px;
    left: 170px;
    top: 259px;
    font-size: 12px;
    color: #1f2041;
    font-weight: 700;
}

.btn_arrive {
    position: absolute;
    display: inline-block;
    top: 278.44px;
    left: 170px;
    width: 148px;
    height: 42px;
    color: rgba(31, 32, 65, 0.5);
}

.btn_arrive1 {
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    background-color: white;
    display: flex;
    color: rgba(31, 32, 65, 0.5);
    font-size: 14px;
    position: absolute;
    cursor: pointer;
    text-decoration: none;
    width: 150px;
    height: 44px;
    align-items: center;
    justify-content: space-around;
    font-family: Montserrat;
}

.btn_arrive1 i {
    font-size: 16px;
}

.btn_check_out1:click .calendar::content {
    display: block;
}

.text_check_out {
    position: absolute;
    width: 83px;
    height: 15px;
    left: 170px;
    top: -20px;
    font-size: 12px;
    color: #1f2041;
    font-weight: 700;
}

.btn_check_out {
    position: absolute;
    display: inline-block;
    left: 170px;
    width: 148px;
    height: 42px;
    color: rgba(31, 32, 65, 0.5);
}

.btn_check_out1 {
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    background-color: white;
    display: flex;
    color: rgba(31, 32, 65, 0.5);
    font-size: 14px;
    position: absolute;
    cursor: pointer;
    text-decoration: none;
    width: 150px;
    height: 44px;
    align-items: center;
    justify-content: space-around;
    font-family: Montserrat;
}
input#air-datepicker {
    width: 132px;
    height: 40px;
    position: absolute;
    left: -1px;
    top: -1px;
    border: 1px solid #1f204140;
    border-radius: 4px;
    background: none;
    padding-left: 14px;
}

#air-datepicker-global-container > div {
    top: 328.438px;
    height: 369px;
    width: 318px;
    height: 366px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    margin-top: -5px;
}
.air-datepicker--pointer {
    display: none;
}
.air-datepicker--navigation {
    top: -2px;
    color: rgba(31, 32, 65, 1);
    font-family: Montserrat;
}
.air-datepicker {
    --adp-font-family: Montserrat;
    --adp-font-size: 12px;
    --adp-accent-color: rgba(188, 156, 255, 1);
    --adp-border-color: rgba(31, 32, 65, 0.25);
    --adp-pointer-size: none;
    --adp-border-color-inner: none;
    --adp-color-secondary: rgba(188, 156, 255, 1);
    --adp-cell-background-color-selected: rgba(188, 156, 255, 0.2);
    --adp-cell-background-color-in-range: rgba(188, 156, 255, 0.2);
    --adp-btn-color: #bc9cff;
    --adp-btn-background-color-hover: none;
    --adp-nav-color-secondary: rgba(31, 32, 65, 1);
    --adp-color-secondary: rgba(31, 32, 65, 1);
    --adp-day-name-color: rgba(188, 156, 255, 1);
}

.air-datepicker-nav {
    height: 24px;
    top: 20px;
    font-family: Montserrat;
    color: rgba(188, 156, 255, 1);
    margin-top: 10px;
    margin-left: 11px;
    margin-right: 11px;
}
.air-datepicker-nav--action {
    size: 24px;
    align-content: center;
    color: rgba(188, 156, 255, 1);
}
.air-datepicker-nav--title {
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 700;
    line-height: 23.16px;
    text-align: center;
    color: rgba(31, 32, 65, 1);
}
.air-datepicker-nav--title i {
    color: rgba(31, 32, 65, 1);
    --adp-nav-color-secondary: none;
}
.air-datepicker--content {
    height: 100%;
    margin-left: 16px;
    margin-top: 23px;
    width: 279.39px;
}

.air-datepicker-body--day-name {
    color: rgba(188, 156, 255, 1);
    size: 12px;
    font-size: 12px;
    font-weight: 700;
}

.air-datepicker-cell.-current- {
    color: #ffffff;
    border-radius: 100%;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
}
.air-datepicker-cell.-range-from- {
    border: 0;
    border-color: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.air-datepicker-cell.-range-from- {
    border-radius: 50% 0 0 50%;
    border-color: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}
.air-datepicker-cell.-range-to- {
    border-radius: 0 50% 50% 0;
}
.air-datepicker-cell.-selected- {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border-radius: 50%;
    font-weight: 700;
    background: linear-gradient(180deg, #bc9cff, #8ba4f9);
    color: #fff;
}

.air-datepicker-cell {
    font-family: Montserrat;
    border-radius: 50%;
    font-size: 0.8571rem;
    color: rgba(31, 32, 65, 0.5);
}

.text_back {
    width: 297px;
    height: 48px;
    top: 829px;
    left: 1009px;
    font-size: 14px;
    line-height: 24px;
    color: #1f2041bf;
    text-align: right;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer {
    background-color: #ffffff;
    top: 897px;
    height: 443px;
    width: 1440px;
    left: -1px;
    border: 0.1px solid rgba(31, 32, 65, 0.25);
    position: absolute;
}

.footer_logo {
    position: absolute;
    left: 140px;
    top: 100px;
    width: 105.69px;
    height: 40px;
}

.text_footer {
    width: 260px;
    height: 72px;
    top: 157px;
    left: 140px;
    font-size: 14px;
    line-height: 24px;
    color: #1f2041bf;
    text-align: left;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav_footer_name {
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 860px;
    left: 440px;
    height: 20px;
    top: 105px;
}

.nav_footer1 {
    position: absolute;
    left: 0px;
    text-align: left;
    text-decoration: none;
    font-size: 12px;
    color: #1f2041;
}

.footer_items1 {
    display: inline-grid;
    position: absolute;
    justify-content: space-around;
    height: 151px;
    top: 36px;
    left: 0px;
}

.nav_footer_items1 {
    padding: 0px;
    font-size: 14px;
    color: #1f204180;
    text-decoration: none;
}

.nav_footer2 {
    text-align: left;
    text-decoration: none;
    font-size: 12px;
    color: #1f2041;
    left: 200px;
    position: absolute;
}

.footer_items2 {
    display: inline-grid;
    position: absolute;
    justify-content: space-around;
    height: 151px;
    left: 200px;
    top: 36px;
}

.nav_footer_items2 {
    padding: 0px;
    font-size: 14px;
    color: #1f204180;
    text-decoration: none;
    margin-right: 21.3px;
}

.nav_footer3 {
    text-align: left;
    text-decoration: none;
    font-size: 12px;
    color: #1f2041;
    left: 400px;
    position: absolute;
}

.footer_items3 {
    display: inline-grid;
    position: absolute;
    justify-content: space-around;
    height: 113px;
    left: 400px;
    top: 36px;
}

.nav_footer_items3 {
    padding: 0px;
    font-size: 14px;
    color: #1f204180;
    text-decoration: none;
    margin-right: 21.3px;
}

.nav_footer4 {
    text-align: left;
    text-decoration: none;
    font-size: 12px;
    color: #1f2041;
    left: 600px;
    position: absolute;
    padding-bottom: 20px;
}

.footer_items4 {
    display: inline-grid;
    position: absolute;
    width: 260px;
    height: 84px;
    left: 600px;
    top: 8px;
    font-size: 14px;
    line-height: 24px;
    color: #1f2041bf;
}

.btn_email {
    position: absolute;
    cursor: pointer;
    top: 95px;
    width: 259px;
    height: 43px;
    border: 1px solid #1f204140;
    border-radius: 4px;
}

input {
    display: flex;
    border: none;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 7px;
    left: 12px;
    font-size: 14px;
    line-height: 24px;
    font-family: "Montserrat", sans-serif;
}

.img_arrow {
    width: 44px;
    height: 44px;
    left: 216px;
    top: 0px;
    size: 24px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rectangle {
    display: flex;
    position: absolute;
    gap: 20px;
    height: 70px;
    width: 1440px;
    top: 372px;
    border: 1px solid rgba(31, 32, 65, 0.05);
}

.footer_copyright_bar {
    position: absolute;
    display: flex;
    left: 140px;
    top: 400px;
    font-weight: 400;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75);
}

.logo_tw {
    left: 1188px;
    top: 26px;
    width: 24px;
    height: 24px;
    position: absolute;
}

.logo_fb {
    left: 1232px;
    top: 25px;
    width: 24px;
    height: 24px;
    position: absolute;
}

.logo_ig {
    left: 1276px;
    top: 25px;
    width: 24px;
    height: 24px;
    position: absolute;
}
